{% extends "base.html.twig" %}


{% block body %}
	<div class="row">


		{% for item in list %}

			<div class="card col">
				<h1 class="text-truncate">{{item.title}}</h1>
				<img src={{asset("uploads/#{item.image}") }} alt="{{item.title}}">
				<p>Price :
					{{item.price}}</p>
			</div>


		{% endfor %}
	</div>


{% endblock %}
