{% extends 'base.html.twig' %}

{% block title %}SneakersDeal{% endblock %}


{% block body  %}
{% block navbar %}
{% endblock %}

<div class="text-3xl font-bold text-white">

Your <span class="text-teal-600">sneakers</span>  to the best price  and in a <span class="text-teal-600">secured</span> way</div>

    
</div>
{% endblock %}
