{% extends 'base.html.twig' %}

{% block title %}SneakersDeal
{% endblock %}


{% block body  %}
	{% block navbar %}{% endblock %}
	<div class="row">
		<div class="col-6 my-5 ">
			<p class="text-white display-2 fw-bold">
				Your
				<span class="text-primary">sneakers</span>
				to the best price and in a
				<span class="text-primary">secured</span>
				way
			</p>
		</div>
		<div class="col text-end">
			<img class="mt-5" src="{{asset('build/images/Jordan1.png')}}" alt="shoes">
		</div>
	</div>


	

{% endblock %}
