.main-page-div {
    margin-top: 124.6px;
}

.card-logo {
    width: 300px;
    height: 500px;
    object-fit: cover;
    background: #009C9D;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #757878;
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.card-logo:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}

.card-logo img {
    width: 450px;
    height: 100%;
    object-fit: contain;

}

.brand-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drops-carrousel {
    width: 75%;
    height: 500px;
    margin: auto;
}
.section-drops{
    margin: 48px 0px 48px;
    border-radius: 3px;
    background: white;
}

.section-drop-title, .high-rate-title{
    width: 50%;
    padding-top: 48px;
    padding-bottom: 10px;
    margin-left: 10px;
    border-bottom: #009C9D 3px solid;
    font-size: 3rem;
    font-weight: bold;
    
}

.section-drop-title a {
    color: black;
}

.form-create{
    margin-top: 124.6px;
}

.product-card img{
    width: 250px;
    height: 200px;
    object-fit:cover;
}
.product-card{
    background: white;
    border-radius: 3px;
    border:#757878 1px solid;
    margin: 10px;
    position: relative;
}
.high-rate{
    background-color: white;
}
.high-rate-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.product-card-body{
   padding: 5px;
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 50%;
   background: linear-gradient(0deg, white, transparent);
   display: none;
}

.high-rate-content:hover .product-card {
    opacity: 0.3;
    transition: all ease-in-out 0.3s;
 }   
.high-rate-content .product-card:hover {
    opacity: 1;
    transform: scale(1.25);
    transition: all ease-in-out 0.3s;
    z-index: 1;
    
}
.high-rate-content .product-card:hover .product-card-body{
    display: block;
    transition: all ease-in-out 0.3s;

}
.product-card-title{
    font-size: 20px;
    font-weight: 500;
}
.product-card-text{
    font-style: italic;
    font-weight: 100;
    font-size: 18px;
}