body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #eceeee;
}

.Navbar {
    background-color: #0D3B66;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.logo-title {
    align-items: baseline;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 10px;
    text-decoration: none;
    margin-bottom: 16px;
}
.logo-title:hover{
    color: white;
}

.logo-title img {
    height: 40px
}

.searchbar #search {
    background-color: white;
    width: 100%;
    border: 1px rgb(128, 128, 128);
    margin-left: 10px;
    padding: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchbar #submit {
    background-color: #009C9D;
    border: 0px;
    padding: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
