.product-page{
    margin-top: 124.6px;
    background-color: white;
    padding: 20px;
}
.product-page label{
    color: black;
    font-size: 20px;
    margin-right: 10px;
}
.product-page select{
    width: 50px;
}
#add_to_cart_add{
    border-radius: 10px;
    background-color: #0D3B66;
    color: white;
    border: 0px black solid;
    padding: 10px 20px;

}
.product-page h1, .product-page h2, .product-page b, .product-page hr{
    color: black;
}
.btn-to-cart{
    text-align: end;
}

.list-group-item img{
    width: 200px;
}

.like-btn-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 10px;
    background-color: #0D3B66;
    color: white;
    border: 0px black solid;
    padding: 10px 20px;
    min-width: 128.45px;
    margin:0px  10px;
    
    
}
.add-cart-like-btn{
    display: flex;
    justify-content: center;
}
.add-cart-like-btn select{
    width: 10%;
}
.add-cart-like-btn label{
    align-self: center;
}
